* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Oswald', sans-serif;
	background: #D9D9D9;
}

.container {
	width: 90%;
	margin: 1000px;
	margin: auto;
}

h1 {
	color: #E1AF16;
	text-align: center;
	margin-top: 20px;
	font-weight: normal;
}

.container .articles ul {
	list-style-type: none;
	margin-bottom: 20px;
}

.container .articles ul li {
	padding: 15px 25px;
	border-bottom: 1px solid #B9B3B3;
}

.container .pagination ul {
	list-style-type: none;
}

.container .pagination ul li {
	display: inline-block;
	background: #363535;
	margin-right: 5px;
	}

.container .pagination ul li a {
	display: inline-block;
	padding: 15px 25px;
	color: #fff;
	text-decoration: none;
	
}

.container .pagination ul .disabled a {
	cursor: not-allowed;
	background: #858585;
}

.container .pagination ul .active a {
	background: #F68E06;
}

.container .pagination ul li a:hover {
	background: #0DD0FA;
}

.fixed {
	margin-top: 220px;
}




